<!DOCTYPE html>
<html>
    <head>
        <title>Affichage de l'annonce {{ advert.id }}</title>
    </head>
    <body>
        <h1>Affichage de l'annonce n{{ advert.id }}</h1>
        <div>
            {% for message in app.session.flashbag.get('info') %}
            <p>Message flash: {{ message }}</p>
            {% endfor %}
        </div>
        <p>
            {% if advert.image is not null %}
                <img src="{{ advert.image.url }}" alt="{{ advert.image.alt }}">
            {% endif %}

        </p>
        <h2>
            {{ advert.title }}
        </h2>
    <p>{{ advert.content }}</p>
    </body>
</html>